Source: brasd
Section: net
Priority: extra
Maintainer: Zhao Cheng <zcbenz@gmail.com>
Homepage: http://bbs.seu.edu.cn
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libgtkmm-2.4-dev, libevent-dev
Standards-Version: 3.9.1

Package: brasd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xl2tpd
Description: Southeast University BRAS daemon and client
  This is an unofficial client of Southeast University BRAS service, which
  helps Linux users quickly use BRAS.
